.advantages-section {
  // padding-bottom: 0;
}

.feature {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.feature__title {
  @include font($fw: 700);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.feature__descr {
  @include font($lh: 24px);
  color: var(--secondary-text-color);

  // margin-bottom: 30px;
}

.feature__card {
  @extend %align;
  height: 120px;
  background-color: var(--team-section-bgc);
  margin-bottom: 30px;
  border-radius: 4px;
  transition: box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
