.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    column-gap: 50px;
  }
}

.contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    column-gap: 30px;
  }
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  fill: var(--logo-color);
  transition: var(--transition-dur-and-func);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.open-mobile-menu-btn__icon {
  width: 24px;
  height: 16px;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.contact-mail,
.contact-tel {
  display: flex;
  color: var(--secondary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    @include font($fs: 12px, $fw: 500, $lh: 14px, $ls: 0.02em);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    @include font($fw: 500, $ls: 0.02em);

    padding-top: 32px;
    padding-bottom: 32px;
    fill: currentColor;
    transition: color var(--transition-dur-and-func);
  }
}

.contact-mail__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-dur-and-func);

  .contact-mail:hover &,
  .contact-mail:focus & {
    fill: var(--accent-color);
  }
}

.contact-tel__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-dur-and-func);

  .contact-tel:hover &,
  .contact-tel:focus & {
    fill: var(--accent-color);
  }
}

.menu .link.current {
  color: var(--accent-color);
}

.menu__link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-dur-and-func);
  position: relative;
}
.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.page-navigation .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
