.team-section {
  background-color: var(--team-section-bgc);
}

.team-member-img {
  width: 100%;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list__item {
  border: 1px solid var(--boder-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-color);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px / 4));
  }
}
.team-member__name {
  @include font($fs: 16px, $fw: 500, $lh: 19px);
  margin-bottom: 10px;
  text-align: center;
}

.team-member__position {
  @include font($fs: 16px, $lh: 19px);
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.team-member__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  background-color: var(--main-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color-team);
  transition: fill var(--transition-dur-and-func);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--main-color);
  }
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  @extend %align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
