.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.contact-mail,
.contact-tel {
  display: flex;
  align-items: center;
  @include font($fw: 500, $ls: 0.02em);
  // font-weight: 500;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  fill: currentColor;
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact {
  display: flex;
  margin-left: auto;
  column-gap: 30px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact-mail__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-dur-and-func);

  .contact-mail:hover &,
  .contact-mail:focus & {
    fill: var(--accent-color);
  }
}

.contact-tel__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-dur-and-func);

  .contact-tel:hover &,
  .contact-tel:focus & {
    fill: var(--accent-color);
  }
}
