.logo__first-part-logo,
.logo__second-part-logo,
.footer-section__logo {
  @include font($fs: 24px, $fw: 700, $lh: 28px, $ls: 0.03em);
  font-family: var(--secondary-font);
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    @include font($fs: 26px, $fw: 700, $lh: 31px, $ls: 0.03em);
  }
}

.logo__second-part-logo {
  color: var(--logo-color);
}

.footer-section__logo {
  color: var(--main-color);
}

.page-navigation__logo {
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 92px;
  }
}

.page-navigation .logo {
  padding: 10px 0;
}
.logo {
  display: block;
}

.address-box {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
