.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 450px;
  min-height: 609px;
  background-color: var(--main-color);
  padding: 40px;

  @media screen and (min-width: 480px) {
    max-width: auto;
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: auto;
    width: 528px;
    min-height: 581px;
  }
}
.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %align;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.close-modal-btn__icon {
  .close-modal-btn:hover &,
  .close-modal-btn:focus & {
    fill: var(--accent-color);
  }
}
